@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page heading */
.page-heading {
  position: absolute;
  height: 149px;
  left: 0px;
  right: 0px;
  top: 62px;
  background: #FFFFFF;
}

/* Default chip */
.default-chip {
  position: absolute;
  width: 223px;
  height: 40px;
  right: 433px;
  bottom: 27px;
  background: #426B1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Default (Distance) */
.default-distance {
  position: absolute;
  width: 120px;
  height: 18px;
  left: calc(50% - 120px / 2 + 0.5px);
  top: calc(50% - 18px / 2 - 0.5px);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/* Another Default chip */
.another-default-chip {
  position: absolute;
  width: 418px;
  height: 40px;
  right: 755px;
  bottom: 27px;
  background: #426B1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* Search: Tacos */
.search-tacos {
  position: absolute;
  width: 269px;
  height: 18px;
  left: calc(50% - 269px / 2 - 37.5px);
  top: calc(50% - 18px / 2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

/* Map */
.map {
  position: absolute;
  width: 126px;
  height: 77px;
  left: 96px;
  bottom: 16px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Divider */
.divider {
  position: absolute;
  height: 0px;
  left: 96px;
  right: 96px;
  bottom: 0px;
  border: 2px solid #E6E6E6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* A-Z chip */
.az-chip {
  box-sizing: border-box;
  position: absolute;
  width: 68px;
  height: 40px;
  right: 221px;
  bottom: 27px;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* $ - $$$ */
.price-chip {
  position: absolute;
  width: 43px;
  height: 16px;
  left: calc(50% - 43px / 2 - 0.5px);
  top: calc(50% - 16px / 2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* Cuisine Type */
.cuisine-type {
  position: absolute;
  width: 88px;
  height: 18px;
  left: calc(50% - 88px / 2);
  top: calc(50% - 18px / 2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* Log In */
.login {
  position: absolute;
  width: 47px;
  height: 21px;
  right: 262px;
  top: 46px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* Cart button */
.cart-button {
  position: absolute;
  width: 126px;
  height: 48px;
  right: 96px;
  top: 32px;
  background: #426B1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* My profile */
.my-profile {
  position: absolute;
  width: 78px;
  height: 21px;
  left: calc(50% - 78px / 2);
  top: calc(50% - 21px / 2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/* Sign Up */
.sign-up {
  position: absolute;
  width: 60px;
  height: 21px;
  right: 343px;
  top: 46px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}